.common {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
    border: 1px solid red;
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    
} 

.yellow {
    background-color: yellow;
    border: 1px solid yellow;
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    
}

.blue {
    background-color: blue;
    border: 1px solid blue;
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    
}

.green {
    background-color: green;
    border: 1px solid green;
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.row1, .row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    align-items: center;
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    
}

.container:hover > * .red {
    transform: rotateZ(90deg);
    transform-origin: top left;  
}

.container:hover > * .yellow {
    transform: rotateZ(-90deg);
    transform-origin: top right;
}

.container:hover > * .blue {
    transform: rotateZ(-90deg);
    transform-origin: bottom left;
}

.container:hover > * .green {
    transform: rotateZ(90deg);
    transform-origin: bottom right;
}